@use "../style/theme";

$base: ".ts-day";

#{$base} {
  --bg: var(--color-blue-100);
  background-color: var(--bg);
  border-radius: 0.2em;
  color: var(--fg);
  display: grid;
  font-size: 0.9em;
  grid-template-areas:
    "tl t tr"
    "main main main"
    "bl b br";
  grid-template-rows: 1fr 3fr 1fr;
  padding: 0.5em;

  &--is-current {
    --bg: var(--color-blue-300);
  }
}

#{$base}__name {
  color: var(--color-blue-600);
  align-self: center;
  grid-area: tl;
}

#{$base}__day {
  color: var(--color-blue-600);
  align-self: center;
  font-size: 0.7em;
  grid-area: tr;
  justify-self: end;
}
#{$base}__events {
  grid-area: main;
}

#{$base}__event {
  color: var(--color-blue-900);
  grid-area: main;
  font-stretch: 50%;

  @media all and (max-width: 48em) {
    &-showname {
      word-break: break-all;
    }
  }
}
