@use "./style/theme";

.ts-app {
  @include theme.typo-base();
  display: grid;
  grid-template-areas:
    "topleft header topright"
    "lside body  rside"
    "footer footer  footer";
  grid-template-columns: 1fr max(60em, 80%) 1fr;
  grid-template-rows: auto auto auto 1fr;
  justify-content: stretch;
  place-items: center;
}

.ts-schedule {
  grid-area: body;
  justify-self: stretch;
}
