@use "./style/theme";

#root {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}

.ts-app {
  @include theme.typo-base();
  grid-template-areas:
    "header"
    "week"
    "manager"
    "footer";
  grid-template-rows: auto auto auto 1fr;
  justify-content: stretch;
  place-items: center;
  max-width: max(60em, 80%);
}

.ts-week {
  grid-area: week;
  justify-self: stretch;
}

.ts-manager {
  grid-area: manager;
  justify-self: start;
}
